#ignore all jupyter notebook checkpoints
*.ipynb
*.ipynb_checkpoints

# ignore all the images in website
website/**/*.png
website/**/*.jpg
website/**/*.svg
website/**/*.pyc
website/**/*.jpeg

# ignore the json file
*.json

# ignore all the databases
instance/
*.db_sqlite3