anyio==4.2.0
argcomplete==2.0.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
async-lru==2.0.4
attrs==23.2.0
Babel==2.14.0
Beaker==1.12.1
beautifulsoup4==4.12.3
bitstring==3.1.9
bleach==6.1.0
blinker==1.8.2
blivet==3.8.2
blivet-gui==2.5.0
Bootstrap-Flask==2.4.0
Brlapi==0.8.5
CacheControl==0.14.0
cachetools==5.3.3
certifi==2023.11.17
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.2.0
click==8.1.3
comm==0.2.1
contourpy==1.2.1
cryptography==41.0.7
cupshelpers==1.0
cycler==0.12.1
dasbus==1.7
dbus-python==1.3.2
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
distro==1.8.0
dnf==4.19.2
docutils==0.19
ecdsa==0.18.0
esptool @ file:///home/daagi/Desktop/Repos/esptool
executing==2.0.1
fastjsonschema==2.19.1
fedora-third-party==0.10
file-magic==0.4.0
firebase-admin==6.5.0
Flask==3.0.3
Flask-Admin==1.6.1
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
fonttools==4.51.0
fqdn==1.5.1
fros==1.1
google-api-core==2.19.0
google-api-python-client==2.128.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-firestore==2.16.0
google-cloud-storage==2.16.0
google-crc32c==1.5.0
google-resumable-media==2.7.0
googleapis-common-protos==1.63.0
greenlet==3.0.3
grpcio==1.63.0
grpcio-status==1.62.2
httplib2==0.22.0
humanize==3.13.1
idna==3.4
intelhex==2.3.0
ipykernel==6.29.0
ipython==8.21.0
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.3
joblib==1.4.2
json5==0.9.14
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter-lsp==2.2.2
jupyterlab_server==2.25.2
kaleido==0.2.1
kiwisolver==1.4.5
langtable==0.0.65
libcomps==0.1.20
libdnf==0.73.1
lxml==4.9.3
Mako==1.2.3
Markdown==3.5.1
Markups==3.1.3
MarkupSafe==2.1.3
matplotlib==3.8.4
matplotlib-inline==0.1.6
mistune==3.0.2
msgpack==1.0.8
nest-asyncio==1.6.0
nftables==0.1
notebook_shim==0.2.3
numpy==1.26.4
olefile==0.46
overrides==7.7.0
packaging==23.1
pandas==2.2.2
pandocfilters==1.5.1
parso==0.8.3
Paste==3.5.3
pep8==1.7.1
pexpect==4.8.0
pid==2.2.3
pillow==10.3.0
platformdirs==4.2.0
ply==3.11
productmd==1.38
prometheus-client==0.19.0
prompt-toolkit==3.0.43
proto-plus==1.23.0
protobuf==4.25.3
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pwquality==1.4.5
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycairo==1.25.1
pycparser==2.20
pycrypto==2.6.1
pycups==2.0.1
pycurl==7.45.2
pyenchant==3.2.2
Pygments==2.17.2
PyGObject==3.46.0
PyJWT==2.8.0
pykickstart==3.48
pyOpenSSL==23.2.0
pyparsing==3.1.2
pyparted==3.13.0
PyQt6==6.6.1
PyQt6-sip==13.6.0
pyserial==3.5
PySocks==1.7.1
python-augeas==1.1.0
python-dateutil==2.8.2
python-json-logger==2.0.7
python-markdown-math==0.8
python-meh==0.51
pytz==2024.1
pyudev==0.24.1
pyxdg==0.27
PyYAML==6.0.1
pyzmq==25.1.2
reedsolo==1.7.0
referencing==0.33.0
regex==2023.12.25
requests==2.31.0
requests-file==1.5.1
requests-ftp==0.3.1
ReText==8.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.17.1
rpm==4.19.1.1
rsa==4.9
scikit-learn==1.4.0
scipy==1.13.0
selinux @ file:///builddir/build/BUILD/libselinux-3.5/src
Send2Trash==1.8.2
sepolicy @ file:///builddir/build/BUILD/selinux-3.5/python/sepolicy
setools==4.4.3
setuptools==67.7.2
simpleaudio==1.0.4
simpleline==1.9.0
six==1.16.0
sniffio==1.3.0
sos==4.6.0
soupsieve==2.5
SQLAlchemy==2.0.30
stack-data==0.6.3
systemd-python==235
Tempita==0.5.2
terminado==0.18.0
threadpoolctl==3.5.0
tinycss2==1.2.1
tornado==6.4
traitlets==5.14.1
types-python-dateutil==2.8.19.20240106
typing_extensions==4.11.0
tzdata==2024.1
uri-template==1.3.0
uritemplate==4.1.1
urllib3==1.26.18
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
Werkzeug==3.0.3
WTForms==3.1.2
